{% block content %}

{% include 'ask_the_doctor/base.html' %}
<style type="text/css">
body{
	background-color: #EEEEE0;
}
</style>
<br><br>

<div class="container" style="background-color: white;">
	<br>
	<div class="row">
		
		{% for question in questions %}
			<br>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<strong>{{question.question_title|safe}}</strong>
				<br><br>
				<small>Question asked in {{question.category.category_name}}</small><br><br>
				{{question.question_detail|safe}}<br>
				{{question.date}}<hr>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<br><br><a href="/profile/my_questions/{{question.id}}/edit/">Edit question</a>
			</div>
			
			{% empty %}
			<div class="container" style="text-align: center;">
				<p>Sorry! There are no questions in this forum</p>
			</div>

		{% endfor %}

		</div>
	</div>
{% endblock %}