
{% block content %}
{% include 'Ask_the_doctor/base.html'%}
<br><br>
<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2" style="font-size: 1.5rem;">
			Dear user,<br>
			This platform is for people who are suffering from mental illnesses or family members of such people.<br><br>
			You can use the community forum page for expressing your thoughts or seek guidance from others who have been through what you have been experiencing.<br><br>
			If you wish to talk to a therapist use the Ask the doctor page. You will find the details of all the therapists who are collaborating with us. You can ask your questions to one or more therapist ans seek help. You can also fix appointments for in person counselling.<br><br>
			The Chats page is for you to keep in touch with any aquaintances you make on our forum. You can use personal chats or group chats feature and create your own groups.<br><br>
			You will find the questions you asked or the answers you gave in the community forum in my questions and my answers pages!<br><br>

			<span style="color: red;">
			Please note that this platform is only for community support and to destigmatize the conversation around mental health and illness. This platform cannot replace in person therapy.</span><br><br>


		</div>
	</div>
</div>

	

{% endblock %}
