{% extends 'accounts/base.html' %}

{% block content %}
{% load static %}
<style type="text/css">
	body{
		background-image: url({% static 'images/background.jpg' %});
		background-repeat:no-repeat;
    	background-size:cover;
    	min-height: 100%;
	}
	.form-box{
		margin-top: 5rem;
		padding-top: 1rem;
		background-color: white;
		box-shadow: 5px 5px;
	}

	.field-labels{
    font-weight: bold;
    font-size: 20px;
    text-align: center;

  }

  .login-button{
  	text-align: center;
  }
  
</style>

    <div class="container col-lg-6 col-sm-12 col-xs-12 form-box">
    	
	        <form method="POST">
	        {% csrf_token %}
	        {% for field in form %}
	        	<div class="container field-labels">
			        {{field.label}}<br>
			        {{field}}
			    </div>

		    {% endfor %}
	        <br>
	        <div class="col-lg-2 offset-lg-5 col-xs-12 login-button">
	        	<button  type="submit" class="container col-lg-offset-3  btn btn-primary"><b>Login</b></button>
	    	</div>
	        </form>
	  		<br>

	  		<p><a href='/accounts/reset_password/'>Forgot password?</a></p>
       
    </div>
    <br><br>
    <div>
    	<p style="color: white;text-align: center;">Don't have an account? <a href="/accounts/signup" target="blank"><strong>Sign up </strong></a></p>
    </div>

{% endblock %}