{% block content %}

{% include 'therapist_dashboard/base.html' %}

<style type="text/css">
	body{
		background-color: #EEEEE0;
	}
</style>
<br><br>
<div class="container" style="background-color:white;">
	<div class="row">

		

		
	    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	    	<span style="font-weight: bolder;">{{question.question|safe}}</span><br>
	    	{{question.user}}<br>
	    	{{question.date}}<hr>

	    </div>

	   
	</div>
	<div class="row">
	   
	    {% for answers in answers %}
	    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ">
	    	<p>{{answers.answer|safe}}</p><br>
	    	{{answers.therapist}}<br>
	    	{{answers.date}}<br><hr>
	    </div>
	    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	    	<a href="/therapist_dashboard/questions/{{question.id}}/your_answers/{{answers.id}}/edit/">Edit your answer</a>
	    </div>

	    {% empty %}
	    	<div class="container" style="text-align: center;background-color: #EEEEE0;color: red;font-size: 1.5rem;">
				<b>You have not answered this question yet.<a href="/therapist_dashboard/questions/{{question.id}}/answer/"> Answer now?</a></b>
			</div>


	    {% endfor %}
	    
	</div>
	
</div>

{% endblock %}