{% extends 'ask_the_doctor/base.html' %}
{% block content %}

<style type="text/css">
	body{
		background-color: #EEEEE0;
	}
	.up-votes{
		font-size: 2rem;
	}
	.down-votes{
		font-size: 2rem;
	}
	.btn{
		background-color: none;
		border:none;
	}
	.up-votes:hover{
		color: green;
	}
	.down-votes:hover{
		color: red;
	}
	#play_button{
		background-color: white;
		border:none;

	}


</style>
<br><br>


<div class="container" style="background-color:white;">
	<div class="row">
	
		
	

		<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<form action="{% url 'community_forum:up_vote' question.pk %}" method="POST">
				{% csrf_token %}
				<button type="submit" name="question_id_up" value="{{question.id}}" class="btn"><i class="fas fa-long-arrow-alt-up up-votes"></i></button>
			</form>
			&nbsp;&nbsp;&nbsp;{{question.total_upvotes}}<br><br>
			<form action="{% url 'community_forum:down_vote' question.pk %}" method="POST">
				{% csrf_token %}
				<button type="submit" name="question_id_down" value="{{question.id}}" class="btn"><i class="fas fa-long-arrow-alt-down down-votes"></i></button>
			</form>
			&nbsp;&nbsp;&nbsp;{{question.total_downvotes}}
			
			
			
		</div>

	    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
	    	<span style="font-weight: bolder;"><input type="text" id="titleText" hidden="True">{{question.question_title|safe}}</input></span><br><br>
	    	{{question.question_detail|safe}}<br>
	    	<span style="color: blue;">{{question.user.user_name}}</span><br>
	    	<span style="font-size: 0.9rem;color: grey;">{{question.date}}</span><br><br>

	    </div>
	  
	   <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	   		<br><br><button type="button" id="play_button" onclick="speakQuestion()"><i class="fas fa-volume-up"></i></button>
	   </div>

	    <div class="container">
			<span style="font-weight: bold;"><a href="/community_forum/questions/{{question.id}}/answer/">Answer this question!</a></span>
		</div>

	


	    <br>
	</div>
	<hr>
	<br>
	<div class="row">
	   
	    {% for answers in answers %}

	    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<form action="{% url 'community_forum:answer_up_vote' answers.pk question.pk %}" method="POST">
				{% csrf_token %}
				<button type="submit" name="answer_id_up" value="{{answers.id}}" class="btn"><i class="fas fa-long-arrow-alt-up up-votes"></i></button>
			</form>
			&nbsp;&nbsp;&nbsp;{{answers.total_upvotes}}<br><br>
			<form action="{% url 'community_forum:answer_down_vote' answers.pk question.pk %}" method="POST">
				{% csrf_token %}
				<button type="submit" name="answer_id_down" value="{{answers.id}}" class="btn"><i class="fas fa-long-arrow-alt-down down-votes"></i></button>
			</form>
			&nbsp;&nbsp;&nbsp;{{answers.total_downvotes}}
					
		</div>

	    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
	    	<p>{{answers.answer|safe}}</p><br>
	    	<span style="color: blue;">{{answers.user.user_name}}</span><br>
	    	<span style="font-size: 0.9rem;color: grey;">{{answers.date}}</span><br><hr>
	    </div>

	    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	    	<br><br><button type="button" id="play_button" onclick="speakAnswer()"><i class="fas fa-volume-up"></i></button>
	    </div>

	    
	    {% endfor %}
	   
	</div>
</div>

<br>
<script type="text/javascript">
	//var msgText=CKEDITOR.instance.id_question_detail.getData();
	
	function speakQuestion(){
		let titleText=document.getElementById("title_text").value;
		var msg = new SpeechSynthesisUtterance();
		//var voices = window.speechSynthesis.getVoices();
		//msg.voice = voices[1]; 
		//msg.voiceURI = 'native';
		msg.volume = 1; // 0 to 1
		msg.rate = 1; // 0.1 to 10
		msg.pitch = 1; //0 to 2
		msg.lang = 'en-IN';
		
		msg.text = titleText

		msg.onend = function(e) {
  			console.log('Finished in ' + event.elapsedTime + ' seconds.');
		};
		window.speechSynthesis.speak(msg);
	}

	function speakAnswer(){
		var msg = new SpeechSynthesisUtterance();
		//var voices = window.speechSynthesis.getVoices();
		//msg.voice = voices[1]; 
		//msg.voiceURI = 'native';
		msg.volume = 1; // 0 to 1
		msg.rate = 1; // 0.1 to 10
		msg.pitch = 1; //0 to 2
		msg.lang = 'en-US';
		var msgText=document.getElementById("id_answer");
		msg.text = msgText;

		msg.onend = function(e) {
  			console.log('Finished in ' + event.elapsedTime + ' seconds.');
		};
		window.speechSynthesis.speak(msg);
	}
                
</script>


{% endblock %}